__pycache__
**/*.pyc

# Distribution / packaging
build
dist
eggs/
.eggs/
neqsim*egg-info

# Derby database is used by neqsim
**/derby.log

# Unit test / coverage reports
.pytest_cache/

# Jupyter Notebook
jupyter/.ipynb_checkpoints

# Environment
.env
.venv
env/
venv/
ENV/

# Visual Studio Code #
.vscode/*
.DS_Store

# Jetbrains IDE
.idea/

# SNYK
.dccache
#poetry.lock
