name: Run Python Tests
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  build:
    strategy:
      matrix:
        version: [3.8, 3.9, 3.13]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

        name: Install poetry
      - run: pipx install poetry

        name: Setup python
      - uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.version }}

      - name: Install dependencies
        run: |
          poetry install --no-interaction

      - name: Run tests with pytest
        run: poetry run pytest
